*{
	font-family: "Oswald";
	margin: 0;
	padding: 0;
}
/*HEADER*/
header{
	text-align: center;
}

.menu{
	width: 100%;
	background-color: #FFFFFF;
}

.botton{
	display: inline-block;
	text-decoration: none;
	color: #363333;
	margin: 0px 40px;
}

.cabecera{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 400px;
	color: #FFFFFF;
}

.cabecera h2 {
	font-size: 40px;
}

.cabecera h3 {
	font-size: 20px;
}

.imgheader{
	margin-top: 30px;
}

/*SECCTION ABOUT*/

.aboutme{
 	text-align: center;
 	color: #8F03E3 ;
}
.profile img{
	width: 90%;
}
.profile p{
	font-size: 12px;
}